html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Sistema
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		block content
			.container
				table.table
					thead
						tr
							th ID
							th Nombre
							th Descripcion
							th Precio
					tbody
						for item in data
							tr
								td= item._id
								td= item.nombre
								td= item.descripcion
								td= item.precio